footer{
  height:35px;
  width: 100vw;
  padding-bottom:10px;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-top:1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:2;
  background-color:white;
  opacity:0.9;
}

.lists-footer{
  width: 100vw;
  padding: 0 40px;
  display:flex;
  justify-content: space-around;
}

.footer-link{
  font-size: 12px;
  letter-spacing: 1px;
  color:black;
}