* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

header{
  height:55px;
  width: 100vw;
  padding-bottom:10px;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-bottom:1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  z-index:2;
  opacity:0.9;
}

.logo{
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 1000;
  width: 100vw;
  display: flex;
}


.nav{
  width: 500px;
  padding: 0 40px;
  display:flex;
}

.lists-left{
  width:15vw;
  display:flex;
  justify-content:space-around;
}

.lists-right{
  width:25vw;
  display:flex;
  justify-content:space-around;
  align-items: flex-end;

}

.logo-link{
  padding: 0 50px 0 75px;
  color:black;
  z-index: 1;
}

.logo-link-img{
  width:100px;
  z-index: 1;
}
.cart, .sign-up, .login, .logout, .user-name, .collection-list, .shop-list{
  font-size: 12px;
  letter-spacing: 1px;
  color:black;
}

.cart img{
  width: 40%;
}
