<footer>
  <div class='footer-contents'>
    <ul class='lists-footer'>
      <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
      <li><%= link_to '会社概要', "#", class: "footer-link" %></li>
      <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
      <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
    </ul>
  </div>
</footer>