

<%= render "shared/header" %>


      
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        ありがとうございます。お問い合わせ内容を送信しました。
      </h1>
    </div>
  </div>

<%= render "shared/footer" %>