.collection-show{
  width:100vw;
  padding-top:55px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.collection-destroy-btn{
  font-size: 14px;
  letter-spacing: 1px;
  background-color:black;
  width:100%;
  color:white;
  display: flex;
  position: fixed;
  border:1px solid black;
  z-index:2;
  bottom : 35px;
  left: 0px;
  background-color:black;
  opacity:0.9;
  padding-left : 55px;
}

.collection-box-center{
  display:flex;
}


.collection-contents{
  padding-top:55px;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

.collection-contents-box{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  border:1px solid black;
  margin: 5px;
}

.season_name{
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  font-size:12px;
  letter-spacing: 1px;
  background-color:black;
  color:white;
}

img.collection-box-image{
  height:100%;
}

/* ここから下はスマホ表示用 */
@media (max-width: 599px) {
  .collection-contents{
    padding-top:55px;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  img.collection-index-image{
    width:100%;
  }

  .collection-box-center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  img.collection-box-image{
    width:100%;
    border:1px solid black;
  }
}