.collection-show{
  width:100vw;
  padding-top:55px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.collection-destroy-btn{
  font-size: 14px;
  letter-spacing: 1px;
  background-color:black;
  width:100%;
  color:white;
  display: flex;
  position: fixed;
  border:1px solid black;
  z-index:2;
  bottom : 35px;
  left: 0px;
  background-color:black;
  opacity:0.9;
  padding-left : 55px;
}

.collection-box-center{
  display:flex;
}


.collection-contents{
  padding-top:55px;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
}

.collection-contents-box{
  display:flex;
  justify-content:center;
  align-items:center;
}

.season-name{
  padding-top:30px;
  font-size: 12px;
  letter-spacing: 1px;
  display:flex;
  justify-content:center;
}