.item-indexes{
  width: 100vw;
  padding: 55px 0;
  display:flex;
}

.item-genre-lists{
  width:10vw;
  display:flex;
  flex-direction:column;
  padding-top:55px;
  padding-left:55px;
  font-size: 12px;
  letter-spacing: 2px;  
  position: fixed;
  top: 55px;
  left: 20px;
  z-index:2;
}

.item-genre-lists a{
  color:black;
}

.genre-list{
  margin-bottom:5px;
}

.item-lists{
  padding: 0 150px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.list{
  margin:50px 0;
  position: relative;
}

.item-info{
  font-size: 10px;
  letter-spacing: 2px;
  color:black;
  position:absolute;
  width:75%;
  text-align:center;
  background-color: white;
  border-radius:2px;
  bottom: 15;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
